<div class="login">
  <form id="login-form" class="login__form-card">
    <div>
      <h1 class="login__title">Вход</h1>
      {{{loginInput}}}
      {{{passwordInput}}}
    </div>
    <div class="login__button-wrapper">
      {{{submitButton}}}
      {{{linkButton}}}
    </div>
  </form>
</div>
