.button {
  padding: 12px 20px;
  border: none;
  background-color: var(--background-fill-color);
  color: var(--text-secondary-color);
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:focus-visible {
  opacity: 0.75;
}

.button--primary {
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.button--link {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  text-align: left;
}

.button--icon {
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button--icon span {
  display: block;
  line-height: 0;
}

.button--icon svg {
  fill: var(--white-color);
}
