.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal--active {
  display: flex;
}

.modal__overlay {
  position: absolute;
  inset: 0;
}

.modal__content {
  position: relative;
  background: var(--white-color);
  padding: 40px 30px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* Кнопка-крестик */
.modal__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  line-height: 24px;
  color: var(--text-secondary-color);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__close-button:hover {
  color: var(--primary-color);
}

/* Отступы между элементами внутри формы */
.modal__content form > * + * {
  margin-top: 20px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* расстояние между input и кнопкой */
}

.modal__form .button {
  margin-top: 20px;
}
