<div class="modal{{#if active}} modal--active{{/if}}" id="{{id}}" role="dialog" aria-modal="true">
  <div class="modal__overlay" data-close="true"></div>
  <div class="modal__content">
    {{{content}}}
  </div>
</div>
