<div class="user-profile">
  <div class="user-profile__back-button">
    {{> Button icon=arrowIcon variant="icon" page="chats" type="button"}}
  </div>
  <div class="user-profile__main">
    <form id="user-profile-form">
      <div class="user-profile__short-info">
        {{> Avatar avatar=user.avatar width="130px" height="130px"}}
        <p>{{user.display_name}}</p>
      </div>
      <div class="user-profile__detailed-info">
        <div class="user-profile__line">
          <span>Старый пароль</span>
          {{> Input id="oldPassword" name="oldPassword" type="password" value="********" formId="user-profile-form" variant="line"}}
        </div>
        <div class="user-profile__line">
          <span>Новый пароль</span>
          {{> Input id="newPassword" name="newPassword" type="password" value="********" formId="user-profile-form" variant="line"}}
        </div>
        <div class="user-profile__line">
          <span>Повторите новый пароль</span>
          {{> Input id="newPasswordAgain" name="newPasswordAgain" type="password" value="********" formId="user-profile-form" variant="line"}}
        </div>
      </div>
      <div class="user-profile__controls user-profile__controls--edit">
        {{> Button label="Сохранить" variant="primary" page="user-profile" type="submit"}}
      </div>
    </form>
  </div>
</div>
