<div class="user-profile">
  <div class="user-profile__back-button">
    {{> Button icon=arrowIcon variant="icon" page="chats" type="button"}}
  </div>
  <div class="user-profile__main">
    <form id="user-profile-form">
      <div class="user-profile__short-info">
        <button type="button" id="user-profile-avatar" class="user-profile__avatar-button" aria-label="Изменить аватар">
          {{> Avatar avatar=user.avatar width="130px" height="130px" }}
          <div class="overlay">
            <span>Поменять аватар</span>
          </div>
        </button>
        <p>{{user.display_name}}</p>
      </div>
      <div class="user-profile__detailed-info">
        <div class="user-profile__line">
          <span>Почта</span>
          {{> Input id="email" name="email" type="text" formId="user-profile-form" value=user.email variant="line" disabled=disableEdit }}
        </div>
        <div class="user-profile__line">
          <span>Логин</span>
          {{> Input id="login" name="login" type="text" formId="user-profile-form" value=user.login variant="line" disabled=disableEdit }}
        </div>
        <div class="user-profile__line">
          <span>Имя</span>
          {{> Input id="first_name" name="first_name" type="text" formId="user-profile-form" value=user.first_name variant="line" disabled=disableEdit }}
        </div>
        <div class="user-profile__line">
          <span>Фамилия</span>
          {{> Input id="second_name" name="second_name" type="text" formId="user-profile-form" value=user.second_name variant="line" disabled=disableEdit }}
        </div>
        <div class="user-profile__line">
          <span>Имя в чате</span>
          {{> Input id="display_name" name="display_name" type="text" formId="user-profile-form" value=user.display_name variant="line" disabled=disableEdit }}
        </div>
        <div class="user-profile__line">
          <span>Телефон</span>
          {{> Input id="phone" name="phone" type="text" formId="user-profile-form" value=user.phone variant="line" disabled=disableEdit }}
        </div>
      </div>
      <div class="user-profile__controls{{#unless disableEdit}} user-profile__controls--edit{{/unless}}">
        {{#if disableEdit}}
          <div class="user-profile__line">
            {{> Button label="Изменить данные" variant="link" page="edit-user-profile" type="button"}}
          </div>
          <div class="user-profile__line">
            {{> Button label="Изменить пароль" variant="link" page="edit-password" type="button"}}
          </div>
          <div class="user-profile__line button--exit">
            {{> Button label="Выйти" variant="link" page="login" type="button"}}
          </div>
        {{else}}
          {{> Button label="Сохранить" variant="primary" page="user-profile" type="submit"}}
        {{/if}}
      </div>
    </form>
  </div>

  {{#> Modal id="change-avatar-modal" active=false }}
    <form id="user-avatar-form">
      <p class="modal__title">Загрузите файл</p>

      <label class="avatar-modal__file-label">
        <input
          type="file"
          name="avatar"
          accept="image/*"
          class="avatar-modal__file-input"
          aria-label="Выбрать новый аватар"
        />
        <span class="avatar-modal__file-text">Выбрать файл на компьютере</span>
      </label>

      {{> Button label="Поменять" type="submit" customClass="avatar-modal__submit" }}
    </form>
  {{/Modal}}
</div>
