<div class="chats">
  <aside class="chats__sidebar">
    <div class="chats__header">
      {{{profileButton}}}
      {{{searchInput}}}
    </div>
    <div class="chats__list">
      {{{chatItems}}}
    </div>
  </aside>

  <section class="chats__main">
    {{{feed}}}
  </section>
</div>
