<div class="chats">
  <aside class="chats__sidebar">
    <div class="chats__header">
      {{> Button label="Профиль" customClass="chats__button-link" variant="link" page="user-profile" type="button"}}
      {{> Input id="search" name="search" label="Поиск" type="text" variant="outlined" leftIcon=searchIcon}}
    </div>
    <div class="chats__list">
      {{#each data.chats}}
        {{> ChatItem this}}
      {{/each}}
    </div>
  </aside>
  <section class="chats__main">
    {{#if showDialog}}
      {{> CorrespondenceFeed contact=data.selectedChat messages=data.messages arrowIcon=arrowIcon }}
    {{else}}
      {{> EmptyFeed }}
    {{/if}}
  </section>
</div>
