.avatar {
  width: var(--avatar-width, auto);
  height: var(--avatar-height, auto);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--background-fill-color, #eeeeee);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
