<div class="avatar{{#if customClass}} {{customClass}}{{/if}}" style="--avatar-width: {{width}}; --avatar-height: {{height}};">
  {{#if avatar}}
    <img src="{{avatar}}" alt="avatar" />
  {{/if}}
</div>
