* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-color: #3369F3;
  --error-color: #FF2F2F;
  --white-color: #FFFFFF;
  --background-fill-color: #EFEFEF;
  --background-list-color: #FBFBFB;
  --background-message-grey-color: #F8F8F8;
  --background-message-blue-color: #E4EDFD;
  --border-color: #EAEAEA;
  --text-primary-color: #1E1E1E;
  --text-secondary-color: #999999;
  --hover-grey-color: #F5F5F5;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  color: var(--text-primary-color);
}
h1, h2, h3, h4, h5 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
